body {
    margin: 3ex auto;
    max-width: calc(min(750px, 90%));
    line-height: 1.3;
    padding-bottom: 15vh;
}

a {
    color: initial;
}

span:target {
    text-decoration: underline dotted;
    background-color: #eee;
}

pre {
    background-color: #eee;
    padding: 0.5em;
    line-height: initial;
}

.anchor-link {
    padding-right: 0.5em;
    text-decoration: none;
}

.anchor-link:hover {
    text-decoration: underline;
}

.emulator-disabled {
    white-space: pre-wrap;
    font-family: monospace;
}

.emulator {
    line-height: initial;
    white-space: pre-wrap;
    font-family: monospace;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 25em;
    grid-template-rows: calc(17lh + 1em) 2.5em 10lh;
    margin-bottom: 2em;
}

.emulator .emulator-edit {
    grid-column: 1;
    grid-row: 1;
    min-height: 40ex;
    padding: 0.4em;
    resize: vertical;
}

.emulator .emulator-controls {
    grid-column: 1 / 3;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0.5em;
}

.emulator .emulator-controls button {
    padding: 0.5em 1em;
}

.emulator .emulator-controls .emulator-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
}

.emulator .emulator-controls .emulator-checkbox label {
    flex-grow: 1;
}

.emulator .emulator-regs {
    grid-column: 2;
    grid-row: 1;
    background-color: #eee;
    overflow-y: auto;
    padding: 0.5em;
}

.emulator .emulator-output {
    grid-column: 1 / 3;
    grid-row: 3;
    background-color: #eee;
    overflow-y: auto;
    padding: 0.5em;
}
